<div class="context-completion">
  <div class="completion-item" [class.complete]="hasContent(characterList)">
    <span class="completion-dot"></span>
    <span>Character List</span>
  </div>
  <div class="completion-item" [class.complete]="hasContent(synopsis)">
    <span class="completion-dot"></span>
    <span>Synopsis</span>
  </div>
  <div class="completion-item" [class.complete]="hasContent(summary)">
    <span class="completion-dot"></span>
    <span>Summary</span>
  </div>
  <div class="completion-item" [class.complete]="hasContent(recap)">
    <span class="completion-dot"></span>
    <span>Recap</span>
  </div>
</div>
